.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
    
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
    margin-right: -40px;
    
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 10px;
    padding-right: 10px;
    width:33.3%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
} 


/* story */
.container__story {
    width: 1088px;
    margin: 0 auto;
}

.story__wrap {
    margin-top: 50px;
}

.story__head {
    text-align: center;
}

.story__head-title {
    font-size: 4.5rem;
    color: #274253;
    margin: 20px 0 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.story__head-descript {
    font-size: 1.6rem;
    color: #ff6600;
    font-style: italic;
    letter-spacing: 1px;
}

.story__content {
    margin-top: 60px;
    display: flex;
    align-items: center;
    margin: 0 -15px;
}

.story__content-para {
    width: 40%;
    padding: 0 15px;
}

.story__content-para-descript {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
}

.story__content-list {
    list-style-type: disc !important; 
    color: var(--primary-color);
}

.story__list-item {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 5px;
    line-height: 1.5;
    position: relative;
    padding-left: 15px;
}

.story__list-item::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #f68921;
    transform: rotateZ(45deg);
    position: absolute;
    top: 8px;
    left: 0;
}

/* .story__content-img {

} */

.story__content-avatar {
    width: 60%;
    padding: 0 15px;
}

.story__content-avatar-img {
    max-width: 100%;
    object-fit: cover;
}

/* end story */

/* giới thiệu */
.container__option-item {
    display: flex;
}

.container__option-img {
    padding: 30px;
}

.container__option-img>img {
    width: 100%;
    height: 100%;
}

/* animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.saw {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 10px;
    transform: rotateX(242deg);
}

.saw::before {
    content: '';
    bottom: -5px;
    display: block;
    background: linear-gradient(
    45deg, transparent 33.333%, #FFF 33.333%, #FFF 66.667%, transparent 66.667%), linear-gradient(
    -45deg, transparent 33.333%, #FFF 33.333%, #FFF 66.667%, transparent 66.667%);
    background-repeat: repeat-x;
    background-size: 16px 32px;
    height: 18px;
}

.feedback__list {
    min-height: 509px;
    position: relative;
}

.margin-top-30 {
    margin-top: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 30px;
    display: flex;
}

.slick-dots>li {
    font-size: 0;
    margin-right: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 1px 0 10px;
    cursor: pointer;
}

.slick-dots>li>button {
    font-size: 0;
}

.slick-dots>li.slick-active {
    background-color: #f68921;
}


body,html {
    overflow-x: hidden;
}
.slider-arrow {
    display: none !important;
}

.slider {
    height: inherit;
    flex: 1;
}

.feedback__list {
    flex-direction: column;
}

.slider__dots {
    left: 20px;
    /* position: absolute; */
    width: fit-content;
    margin-left: 30px;
}

.slider__dots-items {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}
.slider__dots-items.dots-active {
    background-color: #f68921;
}

@media screen  and (max-width: 758px) {
    .menu-img > img {
        height: 500px;
    }
}


@media screen  and (max-width: 758px) {
    .mobile__introduce-item {
        flex-direction: column;
    }

    .container__option-content {
        width: 100%;
    }

    .container__option-content > .story__head > div {
        font-size: 3rem !important;
    }

    .container__option-img {
        padding: 35px 15px 0;
        width: 100%;
    }

    .reverse-item {
        flex-direction: column-reverse;
    }

    .mobile-pd {
        padding-top: 10px !important;
    }
}





@media screen and (max-width: 457px){
    /* liên hệ */
    .hotline {
        font-size: 2rem;
    } 

    /* phần header */
    .header__mobile-center {
        margin-right: 40px;
    }

    .header_node > a {
        right: 10px;
    }
    /* end header */

    /* phần tiều đề  moment*/
    .container__moment-head {
        top: -15px;
    }

    .container__moment-title {
        font-size: 2.5rem;
    }
    /* end */

    /* nội dung văn bản */
    .option__item-descript {
        font-size: 1.2rem;
        overflow: hidden;
    }

    .footer-item-link {
        font-size: 1.2rem;
    }

    .endow__content {
        padding: 16px 20px 20px 20px;
    }
    /* end nội dung văn bản */
}

@media screen and (max-width: 450px) {
    .feedback__item-content {
        line-height: 25px;
    }

    .footer_heading {
        font-size: 2rem;
    }

    .container__moment-head {
        top: -27px;
    }

    .container__moment-title {
        font-size: 2rem;
    }

    .container__moment-descript {
        font-size: 1.4rem;
    }

    .story__head-title {
        font-size: 1.8rem;
    }

    .story__head-descript {
        font-size: 1.2rem;
    }

    .news__content-head a {
        font-size: 2rem;
    }

    .endow__content {
        padding: 21px 9px 15px 9px;
    }
}

@media screen and (max-width: 282px) {
    .option__item-descript {
        -webkit-line-clamp: 3;
    } 
    .feedback__item-content {
        font-size: 1.4rem;
    }
    .feedback__item-author {
        font-size: 1.4rem;
    }

}




