.hotline {
    font-size: 2.5rem;
}

.option__content-img-order {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-order {
    padding: 35px 15px 0;
    border: 1px solid #bc623d;
    height: 100%;
}

.form__wrap {
    padding: 25px;
}

.form__feild {
    align-items: center;
    margin-bottom: 15px;
}

.error .form__wrap-input {
    border-color: red;
}

.error .form__mess-error {
    font-size: 1.4rem;
    color: red;
    display: block;
    margin: 6px 0 0 36px;
}

.form__field-icon {
    font-size: 2.4rem;
    color: #f68921;
    margin-right: 15px;
    position: relative;
    top: 8px;
}

.form__wrap-input {
    display: flex;
    justify-content: space-between; 
}

.form__wrap-input select {
    padding:  10px 0;
}

.form__field-input {
    border: none;
    height: 40px;
    padding: 12px 0;
    font-size: 1.6rem;
    outline: none;
    font-weight: 300;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #000;
}

.form__select {
    color: rgba(0, 0, 0, 0.6);
    height: 40px;
    padding: 12px 0;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
}

#time:enabled {
    color:red;
}

#location {
    line-height: 1;
    width: 100%;
}

.form__note {
    border: none;
    outline: none;
    padding: 12px 0;
    font-size: 1.6rem;
    width: 100%;
    background-color: transparent;
}

.num-people input {
    width: 50%;
}

.form__feild-wrap-submit {
    margin-top: 40px;
    text-align: center;
}

.form-order__submit {
    font-size: 1.4rem;
    padding: 10px 22px;
    min-width: 150px;
    height: 44px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: #f68921;
    border-radius: 999px;
    transition: all linear 0.3s;
}

.form-order__submit:hover {
    background-color: rgba(0, 0, 0, 0.5);
}