.slider {
    height: 100%;
    overflow: hidden;
}

.slider-strack {
    height: 100%;
    display: flex;
}

.slider__dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider__dots-items{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    list-style: none;
    background-color: lavenderblush;
    display: inline-block;
    cursor: pointer;
}

.dots-active {
    background-color: #ff0000;
}


.slider__dots-items+.slider__dots-items {
    margin-left: 5px;
}

